
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;
    width: 20vw;
    font-family:'Fira Sans',sans-serif;
}

.main{
    background-color: yellow;
    width: 80vw;
}

.container{
    display:flex;
}